<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Set new password</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Set new password">
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <header>
  </header>

  <section>
    <form action="" method="post" id="newpassword">
      <h1>Set new password</h1>
      <section>
        <div>
          <label for="password">Password</label>
          <input type="password" name="new_password" id="new-password" autocomplete="new-password" required>
          <button id="toggle-new-password" type="button" aria-label="Show password as plain text. Warning: this will display your password on the screen.">Show password</button>
          <input type="hidden" name="otp" value="{{ .otp }}">
        </div>

        <div>
          <button type="submit" form="newpassword" value="Submit">Set new password</button>
        </div>
      </section>
    </form>
  </section>

  <footer>
  </footer>

  <script src="/assets/new_password.js"></script>
</body>
</html>

