<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sign In</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Sign In">
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <header>
  </header>

  <section>
    <form action="" method="post" id="signin">
      <h1>Sign In</h1>
      <section id="oidc">
        {{ range $client := .clients }}
        <div>
            <a href="/signin/{{ $client.Name }}/{{ $client.StartEndpoint }}">{{ $client.ButtonName }}</a>
        </div>
        {{ end }}
        {{ if .hasClients }}
        <div>
            Or log in with email
        </div>
        {{ end }}
      </section>
      <section>
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" autocomplete="username" required>
        </div>
        <div>
          <button type="submit" form="signin" value="Submit">Continue</button>
        </div>
      </section>
    </form>
  </section>

  <footer>
  </footer>

</body>
</html>

