:root {
  --input-padding: 10px;
  --label-width: 95px;
}

* {
  font-family: 'Google Sans', sans-serif;
}

h1 {
  border-bottom: 1px solid #eee;
  font-size: 32px;
  font-weight: 800;
  margin: 0 0 60px 0;
  padding: 0 0 5px 0;
}

form {
  margin: 0 auto;
  max-width: 500px;
}

.centered-section {
  margin: 0 auto;
  max-width: 500px;
}

div {
  margin: 0 0 20px 0;
}

label {
  display: inline-block;
  font-weight: 500;
  width: var(--label-width);
}

input {
  border: 1px solid #ccc;
  font-weight: 300;
  padding: var(--input-padding);
  width: calc(100% - var(--label-width) - 2px
}

input[type=email]:not(:placeholder-shown):invalid {
  color: red;
  outline-color: red;
}

button#toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  /* Media query isn't shown here. */
  font-size: var(--mobile-font-size);
  font-weight: 300;
  padding: 0;
  /* Display at the top right of the container */
  position: absolute;
  top: 0;
  right: 0;
}
